<%- include('./partials/header'); %>

<html>

    <head>
        <link rel="stylesheet" href="/stylesheets/produtoStyle.css">
    </head>

        <div class ="body">
            <div class="containerOne">
                <h2>
                    CADASTRO DE PRODUTOS
                </h2>

                <a class="p" href="/produto/">
                    <button class="button">
                        CADASTRO
                    </button>
                </a>
            </div>
        </div>
</html>

<%- include('./partials/footer'); %>