
    <!-- <head> -->
      <link rel="stylesheet" href="/stylesheets/regIndex.css">
    <!-- </head> -->
    
      <div class="column">  
        <a class="fixed-button bg-success" href="/produto/create">
          <i class="fas fa-plus"> + </i>
        </a>
      </div>
    

 
 