@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: Poppins, sans-serif !important;
    background-color: #DEE0E4;
    width: 100%;
}

.barraLaranja {
    background-color: #FF5600;
    box-sizing: border-box;
    width: 100%;
    height: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.container {
    display: grid;
    margin-top: 10%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.home {
    display: grid;
    background-color: white;
    justify-content: center;
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    flex-wrap: wrap;
    border-radius: 1rem;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

#not-found-img {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    align-items: baseline;
}