*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerHeader {
    display: flex;
    width: 100%;
    position: relative;
    height: 120px;
    padding: 1.8125rem 0px;
    background: rgb(0, 96, 177);
    border-bottom: 3px  #ff6500  solid;
    
}
.box-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
    
}
.logo{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

}

.imgLogo{
    height: 65px;
}

.loginCadastro{
    display: flex;
    align-items: center;

}

.BoxLoginCadastro{
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.BoxLoginCadastro strong{ 
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.8);
}

.BoxLoginCadastro a {
    text-decoration: none;
}

.boxform{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 800px;
    
    align-items: center;
    border-radius: 3px;

}

.box{
    
    text-align: center;
    flex-direction: column;

    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#form{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 35rem;

    padding:30px 0px 15px;
    border-radius: 4px;
    border: 0.5px solid #afbbc9; 
}

#form h1{
    color: rgb(255, 101, 0);
    font-family: "Poppins", sans-serif !important;
    font-size: 1.7rem;
    line-height: 2.125rem;
    font-weight: 700;
    text-transform: uppercase;
}

.boxInput{
    padding:30px 00px 40px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 450px;
    gap: 1.5rem;


}

.box input {
    height: 48px;
    width: 400px;

    border-radius: 5px;
    font-size: 15px;
    font-family: "Poppins", sans-serif !important;
    color: rgb(86, 92, 105);
    position: relative;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    border-color: rgb(127, 133, 141);
}

.boxInput button{
    height: 48px;
    width: 400px;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    background: rgb(255, 101, 0);
    border: 0.1px solid;
    border-radius: 5px;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.btnLogin :hover{ 
    font-family: "Poppins", sans-serif !important;

}

.TrocarSenha{
    display: flex;
    justify-content: end;
    width: 430px;
 
    color: #596068;
}

span{
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: rgb(127, 133, 141);
}

.Cadastro{
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 101, 0);
    margin-left: 0.25rem;
    text-decoration: none;
}