@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: Poppins, sans-serif !important;
    background-color:white;
    width: 100%;
}

.barraLaranja {
    background-color: #FF5600;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
}

.container-principal{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.container-produto{
    display: grid;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.titulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5%;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 2.5%;
    justify-content: center;
    margin-bottom: 2%;
}

.icones{
    display: flex;
    margin-bottom: 4%;
    justify-content: space-evenly;
    margin-top: 2%;
    width: 80%;
}

.imageSmart{
    display: flex;
}

.rating{
    display: grid;
}

.stars{
    display: flex;
    writing-mode: horizontal-tb !important;
    align-items: center;
    justify-content: space-evenly;
    padding: auto;
}

.share{
    display: flex;
}

.share-button{
    display: grid;
    background-color: white;
    border: none;
    justify-content: center;
    cursor: pointer;
}

.favorite{
    display: flex;
}

.favorite-button{
    display: grid;
    background-color: white;
    border: none;
    justify-content: center;
    cursor: pointer;
}

 .produto{
    display: flex;
    justify-content: space-evenly;
    font-size: 120%;
    flex-wrap: wrap;
}

.container-imagem{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    image-rendering: auto;
}

#pictures{
    width: 300px;
}

.container-price{
    display: grid;
    flex-direction: column;
}

.strike{
    display: grid;
    color:rgb(127, 133, 141);
    margin-top: 4%;
}

.price-pix{
    display: grid;
    color: rgb(255, 101, 0);
    font-size: 250%;
    font-weight: bold;
}

.pix{
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 80%;
    margin-top: 2%;
}


.container-cep{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-banner{
    display: flex;
}

#banner{
    display: flex;
    width: 100%;
    height: 300px !important;
    height: fit-content;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.frete{
    display: grid;
    justify-content: center;
    font-weight: bold;
}

.input-cep{
    display: flex;
    justify-content: center;
    writing-mode: horizontal-tb !important;
    margin-top: 3%;
}

#input-cep{
    display: grid;
    justify-content: center;
    border-radius: 5%;
    border-color: white;
    align-items: center;
    width: 40%;
    height: 90%;
}

.button-cep{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    color: white;
    background-color: rgb(255, 101, 0);
    border-color: rgb(255, 101, 0);
    border-width: 2%;
    border-style: solid;
    cursor: pointer;
    border-radius: 15%;
    font-size: 100%;
    font-weight: bold;
    height: 100%;
}

#message{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    font-weight: bold;
}

#remember{
    text-decoration: underline;
    color: rgb(255, 101, 0);
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 100%;
    flex-wrap: wrap;
    cursor: pointer;
}

.button-buy{
    display: flex;
    justify-content: center;
}

.buy{
    background-color: rgb(255, 101, 0);
    display: flex;
    justify-content: center;
    margin: 1rem 0px;
    max-width: 100%;
    height: 3rem;
    width: 50%;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 700;
    padding: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 101, 0);
    border-radius: 0.25rem;
    cursor: pointer;
}

.button-options{
    display: flex;
    justify-content: center;
}

.button-opt{
    font-size: 0.875rem;
    line-height: 1.5rem;
    display: flex;
    margin-top: 0.5rem;
    margin-left: 0.0625rem;
    background: transparent;
    border: none;
    text-decoration: underline;
    color: rgb(86, 92, 105);
    margin-bottom: 5%;
}

.description{
    display: grid;
}

.description-text{
    display: flex;
    font-weight: bold;
}

.description-text1{
    display: flex;
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.description-text2{
    display: flex;
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.description-text3{
    display: flex;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 120%;
}

.video3{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    max-height: 150%;
    height: 100%;
    width: auto;
}