@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body{

  display: flex;
  width: 100%;
  height: 680px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: 
      linear-gradient(to bottom, #06101f, #001f53, #002989, #002bbd, #4112eb);
}

.containerOne{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:30rem;
  height: 25rem;
  box-shadow: 2px 4px 28px 9px rgba(0,0,0,0.32);
  -webkit-box-shadow: 2px 4px 28px 9px rgba(0,0,0,0.32);
  -moz-box-shadow: 2px 4px 28px 9px rgba(0,0,0,0.32);
  
  color: azure;
  
}

.button{
  margin: 3rem;
  background: rgb(17, 28, 48);
  color:#ffffff;
  width: 180px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
 
}






