<%- include("../partials/header"); %>

    <p class="barraLaranja"></p>

    <main>

        <div class="container">
            <img src="/public/images/no-found.gif" alt="NOT-FOUND" id="not-found-img">        
        </div>
        <div class="container" id="container">
            <div class="home">
                <span class="home">ERRO 404</span>
            </div>
            <div class="sub-home">
                <span>PÁGINA NÃO ENCONTRADA</span>
            </div>
            <button type="signup" class="apply">VOLTAR PARA PÁGINA INICIAL</button>
        </div>
    </main>

    



<%- include('../partials/footer'); %>