<heade>
    <link rel="stylesheet" href="/stylesheets/formProduto.css">
</heade>
<body>
    <form
        method="POST"
        action="/produto/"
        enctype="multipart/form-data"
        >
        <div class="column" id="caixa">
            
            <div class="label">Imagem produto</div>
            <input type="file" name="avatar" required>
            <div style="height: 18px"></div>
            <div class="label">Name do produto</div>
            <input type="text" name="name" required>
            <div style="height: 18px"></div>
            <div class="label">Descriçao</div>
            <input type="text" name="descricao" required>
            <div style="height: 24px"></div>
            <button class="button bg-success">
                <i class="fas fa-save">Enviar</i>
            </button>
            <a class="go-back" href="/produto/"><i class="fas fa-chevron-left"></i> Voltar</a>
        </div> 
        
    </form>
</body>